body{
	background-color:#25252A
}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    }
.logo{
    cursor:pointer;
    height:100px;
    width:120px;
}
#start{
    display: none;
    width: 15%;
    height: 10%;
    
}
#slut{
    display: none;
    width: 15%;
    height: 10%;
}
#tidSett{
    display: none;
    width: 5%;
    height: 10%;
}
#av{
    visibility: visible;
    width: 5%;
    height: 3%;
}

#på{
    visibility: visible;
    width: 5%;
    height: 3%;
}

