.knapp{
    border-radius: 50%;
    width: 100px;
    height: 100px;
  
    
}
#av{
    visibility: visible;
    width: 5%;
    height: 3%;
}

#på{
    visibility: visible;
    width: 5%;
    height: 3%;
}

