#st{
    display: block;
    width: 10%;
    height: 10%;
    
}

#sl{
    display: block;
    width: 10%;
    height: 10%;
}

#ts{
    display: block;
    width: 5%;
    height: 10%;
}

#av{
    visibility: visible;
    width: 5%;
    height: 3%;
}

#på{
    visibility: visible;
    width: 5%;
    height: 3%;
}

